body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  color: #4B5F6D;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

button {
  margin: 0 0;
  border: none;
  background-color: white;

  font-family: 'Montserrat';
  font-size: 110%;
  font-weight: 400;
  color: #4B5F6D;
}

.white-text {
  color: white;
}

.logo {
  width: 150px;
  height: 150px;
  margin: 20px;
  transition: width .6s ease, height .6s ease;
}

.logo-small {
  width: 80px;
  height: 80px;
  margin: 20px;
  transition: width .6s ease, height .6s ease;
}

.logo:hover {
  width: 160px;
  height: 160px;
  transition: width .6s ease, height .6s ease;
}

.logo-small:hover {
  width: 90px;
  height: 90px;
  transition: width .6s ease, height .6s ease;
}

.logo-container {
  display: inline-flex;
}

.main-nav {
  width: 170px;
  transition: width .6s ease, font-weight .6s ease;
  height: 30px;
  box-shadow: 0 2px 0 0 #4B5F6D;
}

.main-nav:hover {
  font-weight: 500;
  width: 200px;
  transition: width .6s ease, font-weight .6s ease;
}

.buffer {
  margin-top:40px;
}

.sticky-nav {
  background-color: white;
}

.nav-adjust {
  margin-top: 40px;
}

/*@keyframes nav-over {
  0% {
    box-shadow: 0 2px 0 0 black;
    width: 130px;
  }
  100% {
    box-shadow: 0 2px 0 0 black;
    width: 160px;
    margin: 0 -15px;
  }
}*/

.title {
  font-size: 400%;
  font-weight: 300;
}

.sub-heading {
  font-weight: 500;
  font-size: 140%;
  font-style: italic;
}

.link {
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #4B5F6D;
}

.link-white {
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 400;
  color: white;
}

.link:hover {
  text-decoration: underline;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #F28430;
}

.link-white:hover {
  text-decoration: underline;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #F28430;
}

.bold {
  font-weight: 600;
}

.buffer-1 {
  width: 100vw;
  height: 40px;
}

.hero-main {
  width: 100vw;
  height: 460px;
  display: inline-flex;
}

.afya {
  background-image: url("https://i.imgur.com/dUpsnGI.jpg");
  background-position: center;
  background-size: cover;
}

.beat {
  background-image: url("https://i.imgur.com/PJpQW8Q.jpg");
  background-position: center;
  background-size: cover;
}

.eatery {
  background-image: url("https://i.imgur.com/fsk3XyL.jpg");
  background-position: center;
  background-size: cover;
}

.deepr {
  background-image: url("https://i.imgur.com/b01uTAJ.jpg");
  background-position: center;
  background-size: cover;  
}

.blur {
  -webkit-box-shadow: inset 0px 0px 175px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 175px -5px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 175px -5px rgba(0,0,0,0.75);
}

.app-shot {
  width: 40vw;
  margin: 40px 0 0 0;
}

.left-half {
  width: 50vw;
}

.right-half {
  width: 50vw;
  text-align: left;
}

.app-title {
  font-size: 2.5vw;
  margin: 140px 0 0 0;
}

.hero-more-btn {
  position: relative;
  top: 150px;
  left: 10vw;
  height: 40px;
  width: 20vw;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 -5px 15px 0px rgba(0,0,0,.05);
}







































.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
